@page
@model ProjetGroupe3.Pages.Classes.AfficherModel
@{
}


    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
          
            <input asp-for="publication.Contenu" class="card-text">

            <button class="btn btn-danger">Ajouter</button>
        </div>
    </div>

@if(Model.publications.Count()> 0)
{
@foreach (var item in Model.publications)
{
    
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title">@item.DatePublication</h5>
            <p class="card-text">@item.Contenu</p>
        </div>
    </div>

}
}
else{

     <div class="card">
        <div class="card-header">
            @User.Identity.Name
        </div>
        <div class="card-body">
            <p class="card-text"> 
             Aucune publication dans cette classe</p>
        </div>
    </div>
}