@page
@model ProjetGroupe3.Pages.Classes.IndexModel
@{
}



<table class="table table-stripped border">

        <th>
            <td>
            </td>
        </th>




@foreach(var item in Model.classes)
{


}

</table>