@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




@if(Model.publications.Count()> 0)
{
@foreach (var item in Model.publications)
{
    
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title">@item.DatePublication</h5>
            <p class="card-text">@item.Contenu</p>
        </div>
    </div>

}
}
else{

     <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <p class="card-text"> @User.Identity.Name
             Vous n'avez aucune publication</p>
        </div>
    </div>
}